.bg-login {
  background: url("../../../../assets/img/login.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: -webkit-fill-available;
  min-height: -moz-fill-available;
  min-height: -o-fill-available;
  min-height: -ms-fill-available;
}
