<app-navbar></app-navbar>
<div class="landing-page">
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax" data-rellax-speed="-7"
        style="background-image: url('assets/img/header.jpg');">
      </div>

      <div class="container">
        <div class="content-center text-center brand">
          <h1 class="h1-seo rfs-2 pt-3">{{'landing-page.header' | translate}}</h1>
        </div>
      </div>
    </div>
    <div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="title text-center">{{'landing-page.who-we-are' | translate}}</h2>
            <h5 class="description translated-paragraph text-center">{{'landing-page.who-we-are-description' |
              translate}}</h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div class="bg-jigsaw image-container image-left">
                <p class="blockquote blockquote-primary">"{{'landing-page.quote' | translate}}"
                  <br>
                  <br>
                  <small>--{{'landing-page.quotee' | translate}}</small>
                </p>
              </div>
              <div class="bg-discuss image-container"></div>
            </div>
            <div class="col-md-5">
              <div class="bg-collaboration image-container image-right"></div>
              <br>
              <h3>{{'landing-page.principles' | translate}}</h3>
              <br>
              <h5>{{'landing-page.principle-1-header' | translate}}</h5>
              <p>{{'landing-page.principle-1' | translate}}</p>
              <h5>{{'landing-page.principle-2-header' | translate}}</h5>
              <p>{{'landing-page.principle-2' | translate}}</p>
              <h5>{{'landing-page.principle-3-header' | translate}}</h5>
              <p>{{'landing-page.principle-3' | translate}}</p>
              <h5>{{'landing-page.principle-4-header' | translate}}</h5>
              <p>{{'landing-page.principle-4' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-team text-center">
      <div class="container">
        <h2 class="title">{{'landing-page.our-team' | translate}}</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/members/Mohamed_Karkotly.jpg" alt="Mohamed Karkotly"
                  class="rounded-circle img-fluid img-raised">
                <h4 class="title">{{'landing-page.karkotly' | translate}}</h4>
                <p class="category text-primary">{{'landing-page.karkotly-profession' | translate}}</p>
                <p class="description">{{'landing-page.karkotly-bio' | translate}}</p>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/members/Majd_Al-Yaseen.jpg" alt="Majd Al-Yaseen"
                  class="rounded-circle img-fluid img-raised">
                <h4 class="title">{{'landing-page.majd' | translate}}</h4>
                <p class="category text-primary">{{'landing-page.majd-profession' | translate}}</p>
                <p class="description">{{'landing-page.majd-bio' | translate}}</p>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <img src="assets/img/members/Mohamed_Karkotly.jpg" alt="Mohamed Karkotly"
                  class="rounded-circle img-fluid img-raised">
                <h4 class="title">{{'landing-page.karkotly' | translate}}</h4>
                <p class="category text-primary">{{'landing-page.karkotly-profession' | translate}}</p>
                <p class="description">{{'landing-page.karkotly-bio' | translate}}</p>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-contact-us text-center">
      <div class="container">
        <h2 class="title">{{'landing-page.drop-feedback' | translate}}</h2>
        <p class="description">{{'landing-page.opinion-important' | translate}}</p>
        <div class="row">
          <div class="col-lg-6 text-center col-md-8 mx-auto">
            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons users_circle-08"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="{{'landing-page.name' | translate}}"
                (focus)="focus=true" (blur)="focus=false">
            </div>
            <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons ui-1_email-85"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="{{'landing-page.subject' | translate}}"
                (focus)="focus1=true" (blur)="focus1=false">
            </div>
            <div class="textarea-container">
              <textarea class="form-control" name="name" rows="4" cols="80"
                placeholder="{{'landing-page.message' | translate}}"></textarea>
            </div>
            <div class="send-button">
              <a href="#" class="btn btn-primary btn-round btn-block btn-lg">{{'button.send-message' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
