<!-- Communities List -->
<section *ngIf="b">
  <div class="row m-2">
    <div fxLayoutAlign="start" class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3"
      *ngFor="let community of [].constructor(6)">
      <mat-card>
        <img mat-card-title src="../../../../../assets/img/discuss.jpg">
        <mat-card-content>
          <h6 class="text-center primary-color">School</h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex delectus nostrum inventore eos dolor. Atque
          </p>
        </mat-card-content>
        <mat-card-actions class="d-flex place-between">
          <button color="accent" class="text-start" mat-button (click)="getSelectedCommunity()">{{'button.manage' | translate}}</button>
          <button color="warn" class="text-end" mat-button>{{'button.delete' | translate}}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <!-- Community button -->
  <div class="row m-2">
    <div class="col my-4 text-center">
      <button mat-raised-button color="accent" class="text-center">{{'community.create' | translate}}</button>
    </div>
  </div>
</section>
<!-- //Communities List -->

<!-- Empty State -->
<section *ngIf="!b">
  <!-- SVG empty state -->
  <div class="row m-2">
    <div class="col h-100 text-center mt-5">
      <img class="w-30 w-md-40 w-sm-50" src="../../../../../assets/img/discuss.jpg">
    </div>
  </div>
  <!-- Community button -->
  <div class="row m-2">
    <div class="col my-4 text-center">
      <button mat-raised-button color="accent">{{'community.create' | translate}}</button>
    </div>
  </div>
</section>

<!-- //Empty State -->
