.is-invalid {
  box-shadow: none !important;
}

.is-valid {
  box-shadow: none !important;
}

::ng-deep body {
  background: linear-gradient(
    to bottom right,
    rgba(250, 214, 202),
    rgba(197, 55, 7)
  );
}
