<div class="bg-sign-up login-page">
  <div class="row h-100vh align-items-center">
    <div class="col-md-4 m-auto text-center">
      <div class="card card-login card-plain">
        <form class="form">
          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="assets/img/enhance-logo.png" alt="Enhance Logo">
            </div>
          </div>
          <div class="content">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':input1Focus==true}">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="now-ui-icons users_circle-08"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="{{'login.username' | translate}}"
                (focus)="input1Focus=true" (blur)="input1Focus=false">
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':input2Focus===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
              </div>
              <input type="text" placeholder="{{'login.password' | translate}}" class="form-control"
                (focus)="input2Focus=true" (blur)="input2Focus=false" />
            </div>
          </div>
        </form>
        <div class="footer">
          <button type="submit" class="btn btn-primary btn-round btn-lg btn-block">
            {{'login.login' | translate}}
          </button>
        </div>
        <div class="text-center">
          <h6>
            <a routerLink="/sign-up" class="link">{{'login.create-account' | translate}}</a>
          </h6>
        </div>
        <div class="text-center">
          <h6>
            <a href="#pablo" class="link">{{'login.download' | translate}}</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
