<a *ngIf="facebook" href="https://www.facebook.com/{{facebook}}" target="_blank"
  class="btn btn-primary btn-icon btn-round">
  <i class="fab fa-facebook-square"></i>
</a>
<a *ngIf="instagram" href="https://www.instagram.com/{{instagram}}" target="_blank"
  class="btn btn-primary btn-icon btn-round">
  <i class="fab fa-instagram"></i>
</a>
<a *ngIf="linkedin" href="http://www.linkedin.com/in/{{linkedin}}" target="_blank"
  class="btn btn-primary btn-icon btn-round">
  <i class="fab fa-linkedin"></i>
</a>
<a *ngIf="twitter" href="https://www.twitter.com/{{twitter}}" target="_blank"
  class="btn btn-primary btn-icon btn-round">
  <i class="fab fa-twitter"></i>
</a>
<a *ngIf="youtube" href="https://www.youtube.com/channel/{{youtube}}" target="_blank"
  class="btn btn-primary btn-icon btn-round">
  <i class="fab fa-youtube"></i>
</a>
