<section *ngIf="loaded">
  <!-- Communities List -->
  <section class="h-460" *ngIf="communities.length">
    <div class="row m-2">
      <!-- Add to the following div: fxLayoutAlign="start" to make them all the same height-->
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-3" *ngFor="let community of communities">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{community.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img class="minimized-image mx-auto" mat-card-title src="{{community.image}}">
          <mat-card-content>
            <h6 class="text-center primary-color">{{community.label}}</h6>
            <p>{{community.description}}</p>
          </mat-card-content>
          <mat-card-actions class="d-flex place-between py-2">
            <button color="accent" class="text-start" mat-button
              [routerLink]="[ '/control-panel',community.id]">{{'button.manage' |
              translate}}</button>
            <button color="warn" class="text-end" mat-button (click)="openModal(deleteModal)">{{'button.delete' |
              translate}}</button>
          </mat-card-actions>
        </mat-expansion-panel>
        <!-- *Delete Modal* -->
        <ng-template #deleteModal let-c="close" let-d="dismiss">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" (click)="d('Cross click')">
              <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">{{'modal.confirmation' | translate}}</h4>
          </div>
          <div class="modal-body">
            <p class="text-center">{{'modal.sureDeleteCommunity' | translate}}</p>
          </div>
          <div class="modal-footer d-block">
            <div class="row">
              <div class="col text-center">
                <button type="button" class="btn btn-danger"
                  (click)="c('Close click'); deleteCommunity(community.id)">{{'button.delete' |
                  translate}}</button>
              </div>
              <div class="col text-center">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'button.close' |
                  translate}}</button>
              </div>
            </div>
          </div>
        </ng-template>
        <!-- *//Delete Modal* -->
      </div>
    </div>
    <!-- Community button -->
    <div class="row m-2">
      <div class="col my-4 text-center">
        <button mat-raised-button color="primary" class="text-center" routerLink="join-community">{{'community.join' |
          translate}}</button>
      </div>
    </div>
  </section>
  <!-- //Communities List -->

  <!-- Empty State -->
  <section *ngIf="!communities.length">
    <!-- SVG empty state -->
    <div class="row m-2">
      <div class="col h-100 text-center mt-5">
        <img class="w-30 w-md-40 w-sm-50" src="../../../../../assets/img/jigsaw.jpg">
      </div>
    </div>
    <!-- Community button -->
    <div class="row m-2">
      <div class="col my-4 text-center">
        <button mat-raised-button color="primary" routerLink="join-community">{{'community.join' | translate}}</button>
      </div>
    </div>
  </section>

  <!-- //Empty State -->
