<nav class="navbar navbar-expand-lg bg-primary fixed-top py-0" color-on-scroll="500">
  <div class="container">
    <div class="row flex-spacer">
      <div *ngIf="showLogo" class="col col-md-6 text-start align-self-center">
        <img class="n-logo mx-3" src="assets/img/enhance-logo.png" alt="">
        <a class="navbar-brand" fxHide.md fxHide.lt-sm>
          {{'enhance' | translate}}
        </a>
      </div>
      <div class="row" *ngIf="!showLogo">
        <div class="col align-self-center p-0 cursor-pointer">
          <a type="button" class="nav-link" routerLink="/">
            <i class="now-ui-icons arrows-1_minimal-left px-1"></i>
          </a>
        </div>
        <div class="col align-self-center text-start p-0">
          <span class="white-color">{{'enhance' | translate}}</span>
        </div>
      </div>
      <div class="col text-end align-self-center">
        <div class="navbar-translate d-block">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleSidenav()">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="showSignUp" class="nav-item text-center cursor-pointer">
          <a class="nav-link" routerLink="/auth/sign-up">
            <i class="now-ui-icons users_single-02"></i>
            {{'button.sign-up' | translate}}
          </a>
        </li>
        <li *ngIf="showLogin" class="nav-item text-center cursor-pointer">
          <a class="nav-link" routerLink="/auth/login">
            <i class="now-ui-icons users_circle-08"></i>
            {{'button.login' | translate}}
          </a>
        </li>
        <li *ngIf="showCommunity && !inCommunities" class="nav-item text-center cursor-pointer">
          <a class="nav-link" routerLink="/communities">
            <i class="fa fa-fax fa-lg px-1"></i>
            {{'button.communities' | translate}}
          </a>
        </li>
        <li *ngIf="showLogout" class="nav-item text-center cursor-pointer">
          <a class="nav-link" (click)="deleteUser()">
            <i class="fa fa-sign-out-alt fa-lg px-1"></i>
            {{'button.logout' | translate}}
          </a>
        </li>
        <li class="nav-item text-center">
          <app-modal></app-modal>
        </li>
        <li class="nav-item text-center">
          <a href="https://www.facebook.com/enhance.platform" class="nav-link" rel="tooltip"
            title="{{'social.like-facebook' | translate}}" data-placement="bottom" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">{{'social.facebook' | translate}}</p>
          </a>
        </li>
        <li class="nav-item text-center">
          <a href="https://www.instagram.com/enhance.platform" class="nav-link" rel="tooltip"
            title="{{'social.follow-instagram' | translate}}" data-placement="bottom" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">{{'social.instagram' | translate}}</p>
          </a>
        </li>
        <li class="nav-item text-center">
          <a href="https://www.linkedin.com/in/enhance-platform" class="nav-link" rel="tooltip"
            title="{{'social.connect-linkedin' | translate}}" data-placement="bottom" target="_blank">
            <i class="fab fa-linkedin"></i>
            <p class="d-lg-none d-xl-none">{{'social.linkedin' | translate}}</p>
          </a>
        </li>
        <li class="nav-item text-center">
          <div ngbDropdown class="dropdown">
            <a class="nav-link dropdown-toggle cursor-pointer" ngbDropdownToggle>
              <i class="now-ui-icons location_world"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right text-center overflow-hidden">
              <a class="dropdown-item pl-4 cursor-pointer" (click)="chooseEnglish()">{{'language.english' |
                translate}}</a>
              <a class="dropdown-item pl-4 cursor-pointer" (click)="chooseArabic()">{{'language.arabic' |
                translate}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
