<app-navbar></app-navbar>
<section class="container-fluid mt-6 text-center">
  <!-- Entire Outlet -->
  <div class="row mt-7">
    <div class="col">
      <h5 class="primary-color">Download Enhance</h5>
      <p>Get an unlimited experience by downloading Enhance app.</p>
    </div>
  </div>
  <div class="row my-3">
    <!-- *First Column* -->
    <div class="col-12 col-md-4 align-self-center">
      <div class="row py-4">
        <div class="col">
          <mat-icon class="primary-color">favorite</mat-icon>
          <p>Interact with communities you join.</p>
        </div>
      </div>

      <div class="row py-4">
        <div class="col">
          <mat-icon class="primary-color">lightbulb</mat-icon>
          <p>Share ideas.</p>
        </div>
      </div>

      <div class="row py-4">
        <div class="col">
          <mat-icon class="primary-color">https</mat-icon>
          <p>Enjoy posts privacy features</p>
        </div>
      </div>
    </div>
    <!-- *//First Column* -->
    <!-- *Mobile image Column* -->
    <div class="col-12 col-md-4">
      <img class="mobile" src="../../../../../assets/img/mobile-view.png" alt="">
    </div>
    <!-- *//Mobile image Column* -->
    <!-- *Third Column* -->
    <div class="col-12 col-md-4 align-self-center">
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-dark btn-icon-text w-50">
            <i class="flaticon-app-store x2"></i>
            <span>
              <small class="font-weight-light d-block">Available on the</small>App Store
            </span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-dark btn-icon-text w-50">
            <i class="flaticon-playstore x2"></i>
            <span>
              <small class="font-weight-light d-block">Get it on the</small>Google Play
            </span>
          </button>
        </div>
      </div>
    </div>
    <!-- *//Third Column* -->
  </div>
</section>
<app-footer></app-footer>
