<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" mode="side" class="mat-elevation-z8" disableClose="true" opened="true">
    <div>
      <img class="avatar mat-elevation-z8" src={{coverImage}} />
      <h4 class="name">{{communityName}}</h4>

      <p class="designation">{{categoryName}}</p>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" [routerLink]="['/control-panel', communityId]">
        <mat-icon>home</mat-icon>
        <span>Community</span>
      </button>
      <button mat-button class="menu-button" routerLink="members">
        <mat-icon>people</mat-icon>
        <span>Members</span>
      </button>
      <button mat-button class="menu-button" routerLink="posts">
        <mat-icon>sticky_note_2</mat-icon>
        <span>Posts</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" routerLink="pending-requests">
        <mat-icon>pending_actions</mat-icon>
        <span>Pending Requests</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
