<a class="nav-link btn btn-neutral" (click)="openModal(privacy)">
  <i class="now-ui-icons ui-1_lock-circle-open"></i>
  <p>{{'modal.terms' | translate}}</p>
</a>

<ng-template #privacy let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
    <button type="button" class="close" (click)="d('Cross click')">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </button>
    <h4 class="title title-up">{{'modal.privacy' | translate}}</h4>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="card">
        <div class="card-header">
          Angular Crop Image Tutorial Example - ItSolutionStuff.com
        </div>
        <div class="card-body">
          <input type="file" (change)="fileChangeEvent($event)" />
          <div class="row" style="margin-top: 15px;">
            <div class="text-center col-md-8">
              <h5>Crop Image</h5>
              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 4"
                [resizeToWidth]="256" format="png" [roundCropper]="true" (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
              </image-cropper>
            </div>
            <div class="text-center col-md-4">
              <h5>Preview</h5>
              <img [src]="croppedImage" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-block">
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'button.close' |
          translate}}</button>
      </div>
    </div>
  </div>
</ng-template>
