<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#f96332" type="square-jelly-box" [fullScreen]="true">
  <h6 class="white-color">{{'spinner.processing' | translate}}</h6>
</ngx-spinner>
<section class="h-420">
  <div *ngIf="posts.length">
    <div class="wrapper">
      <div fxLayout="row" fxLayoutGap="16px" fxFill>
        <div fxFlex="100" fxFill>
          <mat-tab-group mat-stretch-tabs class="tab-group mat-elevation-z6"
            (selectedTabChange)="getPostsBySubcategory($event)">
            <mat-tab label="All">
              <div class="row m-3">
                <div class="col col-12 col-md-6 col-lg-4" *ngFor="let post of posts; index as i">
                  <div class="card" @fade>
                    <div class="card-body pt-0 px-0 pb-2">
                      <img class="post-image" *ngIf="post.attachments[0]" src="{{post.attachments[0].url}}" alt="">
                      <div class="px-3 pt-3 pb-0">
                        <div class="row">
                          <div class="col-10">
                            <h6 *ngIf="post.type == 1" class="category text-success">
                              <i class="fas fa-lightbulb"></i>
                              Suggestion
                            </h6>
                            <h6 *ngIf="post.type == 2" class="category text-danger">
                              <i class="now-ui-icons media-2_sound-wave"></i>
                              Objection
                            </h6>
                            <h5 class="card-title">{{post.title}}</h5>
                          </div>
                          <div class="col-2 text-end mt-n2">
                            <div class="row">
                              <div class="col">
                                <mat-icon class="cursor-pointer x2"
                                  [ngClass]="post.userVoteValue == 1?'text-success':''" (click)="upVote(post)">
                                  expand_less</mat-icon>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <mat-icon class="cursor-pointer x2"
                                  [ngClass]="post.userVoteValue == -1?'text-danger':''" (click)="downVote(post)">
                                  expand_more</mat-icon>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="card-description">{{post.description}}</p>
                        <div [ngClass]="post.attachments[0]?'':'card-bottom' ">
                          <div class="card-footer px-0 pt-2">
                            <div class="row px-3">
                              <div class="col-8 p-0 align-self-center">
                                <div class="author">
                                  <img *ngIf="!post.isAnonymous" class="avatar post-user-image"
                                    src="{{post.user.profileImage}}">
                                  <i *ngIf="post.isAnonymous" class="fas fa-question-circle"></i>
                                  <span *ngIf="!post.isAnonymous" class="px-2">{{post.user.firstName}}
                                    {{post.user.lastName}}</span>
                                  <span *ngIf="post.isAnonymous" class="px-2">Anonymous</span>
                                </div>
                              </div>
                              <div class="col-4 p-0 text-center align-self-center">
                                <div class="row">
                                  <div class="col py-0 text-end align-self-center">
                                    <mat-icon>poll</mat-icon>
                                  </div>
                                  <div class="col p-0 text-center mt-n1 align-self-center">
                                    <span>{{post.votes}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row px-3 pt-2">
                              <p class="text-muted">Published: {{post.createdAt | dateAgo}}</p>
                            </div>
                            <div class="row">
                              <div class="col-12 text-center">
                                <button type="button" class="btn btn-danger btn-round btn-simple btn-sm"
                                  (click)="deletePost(post, i)">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab *ngFor="let subcategory of subcategories" label="{{subcategory.name}}">
              <div class="row m-3">
                <div class="col col-12 col-md-6 col-lg-4" *ngFor="let post of categoryPosts">
                  <div class="card" @fade>
                    <div class="card-body pt-0 px-0 pb-2">
                      <img class="post-image" *ngIf="post.attachments[0]" src="{{post.attachments[0].url}}" alt="">
                      <div class="px-3 pt-3 pb-0">
                        <div class="row">
                          <div class="col-10">
                            <h6 *ngIf="post.type == 1" class="category text-success">
                              <i class="fas fa-lightbulb"></i>
                              Suggestion
                            </h6>
                            <h6 *ngIf="post.type == 2" class="category text-danger">
                              <i class="now-ui-icons media-2_sound-wave"></i>
                              Objection
                            </h6>
                            <h5 class="card-title">{{post.title}}</h5>
                          </div>
                          <div class="col-2 text-end mt-n2">
                            <div class="row">
                              <div class="col">
                                <mat-icon class="cursor-pointer x2"
                                  [ngClass]="post.userVoteValue == 1?'text-success':''" (click)="upVote(post)">
                                  expand_less</mat-icon>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <mat-icon class="cursor-pointer x2"
                                  [ngClass]="post.userVoteValue == -1?'text-danger':''" (click)="downVote(post)">
                                  expand_more</mat-icon>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p class="card-description">{{post.description}}</p>
                        <div [ngClass]="post.attachments[0]?'':'card-bottom' ">
                          <div class="card-footer px-0 pt-2">
                            <div class="row px-3">
                              <div class="col-8 p-0 align-self-center">
                                <div class="author">
                                  <img *ngIf="!post.isAnonymous" class="avatar post-user-image"
                                    src="{{post.user.profileImage}}">
                                  <i *ngIf="post.isAnonymous" class="fas fa-question-circle"></i>
                                  <span *ngIf="!post.isAnonymous" class="px-2">{{post.user.firstName}}
                                    {{post.user.lastName}}</span>
                                  <span *ngIf="post.isAnonymous" class="px-2">Anonymous</span>
                                </div>
                              </div>
                              <div class="col-4 p-0 text-center align-self-center">
                                <div class="row">
                                  <div class="col py-0 text-end align-self-center">
                                    <mat-icon>poll</mat-icon>
                                  </div>
                                  <div class="col p-0 text-center mt-n1 align-self-center">
                                    <span>{{post.votes}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row px-3 pt-2">
                              <p class="text-muted">Published: {{post.createdAt | dateAgo}}</p>
                            </div>
                            <div class="row">
                              <div class="col-12 text-center">
                                <button type="button" class="btn btn-danger btn-round btn-simple btn-sm"
                                  (click)="deletePost(post, i)">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
  <!-- Empty State -->
  <section *ngIf="!posts.length && loaded">
    <!-- SVG empty state -->
    <div class="row">
      <div class="col h-100 text-center mt-5">
        <img class="w-30 w-md-40 w-sm-50" src="../../../../../assets/img/undraw_Post_re_mtr4.png">
        <p>No posts yet</p>
      </div>
    </div>
  </section>
  <!-- //Empty State -->
</section>
