@import "~rfs/scss";

$path: "../../../../assets/img/";

.bg-collaboration {
  background-image: url($path + "collaboration.jpg");
}

.bg-jigsaw {
  background-image: url($path + "jigsaw.jpg");
}

.bg-discuss {
  background-image: url($path + "discuss.jpg");
}

.bg-header {
  background-image: url($path + "header.jpg");
}

.content-center.brand {
  top: 30%;
}

.rfs-2 {
  @include font-size(2rem !important);
}
