<app-navbar [login]="true"></app-navbar>
<div class="container-fluid h-100 pt-6 px-5">
  <div class="row align-items-center h-100 row-eq-height">
    <div class="col-md-8">
      <div class="card mb-0">
        <div class="card-header bg-primary white-color">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h6 class="title text-center m-0 py-1">{{'sign-up.manage' | translate}}</h6>
            </div>
            <div class="col-12 col-sm-6">
              <h6 class="title text-center m-0 py-1">{{'sign-up.become-member' | translate}}</h6>
            </div>
          </div>
        </div>
        <div class="card-body my-n3">
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" #signUp>
            <!-- *General information Row* -->
            <div class="row py-1">
              <!-- First name -->
              <div class="col-12 col-sm-6 col-md-3 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.firstName' | translate}}</label>
                  <input type="text" class="form-control" placeholder="{{'form.firstName-mask' | translate}}"
                    formControlName="firstName" [ngClass]="{'is-invalid': submitted && form.firstName.errors}"
                    [ngClass]="{'is-valid': !form.firstName.errors}">
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="signUpForm.get('firstName').invalid && (signUpForm.get('firstName').dirty
                    || signUpForm.get('firstName').touched)">
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('firstName').errors.required">
                        <small class="text-12 px-2">{{'validation.firstName-required' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('firstName').errors.minlength">
                        <small class="text-12 px-2">{{'validation.firstName-min-length' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('firstName').errors.maxlength">
                        <small class="text-12 px-2">{{'validation.firstName-max-length' | translate}}</small>
                      </div>
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('firstName').errors.pattern">
                        <small class="text-12 px-2">{{'validation.firstName-invalid' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Last name -->
              <div class="col-12 col-sm-6 col-md-3 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.lastName' | translate}}</label>
                  <input type="text" class="form-control" placeholder="{{'form.lastName-mask' | translate}}"
                    formControlName="lastName" [ngClass]="{'is-invalid': submitted && form.lastName.errors}"
                    [ngClass]="{'is-valid': !form.lastName.errors}">
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="signUpForm.get('lastName').invalid && (signUpForm.get('lastName').dirty
                    || signUpForm.get('lastName').touched)">
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('lastName').errors.required">
                        <small class="text-12 px-2">{{'validation.lastName-required' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('lastName').errors.minlength">
                        <small class="text-12 px-2">{{'validation.lastName-min-length' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('lastName').errors.maxlength">
                        <small class="text-12 px-2">{{'validation.lastName-max-length' | translate}}</small>
                      </div>
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('lastName').errors.pattern">
                        <small class="text-12 px-2">{{'validation.lastName-invalid' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Email -->
              <div class="col-12 col-sm-6 col-md-4 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.email' | translate}}</label>
                  <input type="email" class="form-control" placeholder="{{'form.email-mask' | translate}}"
                    formControlName="email" [ngClass]="{'is-invalid': submitted && form.email.errors}"
                    [ngClass]="{'is-valid': !form.email.errors}">
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="signUpForm.get('email').invalid && (signUpForm.get('email').dirty
                    || signUpForm.get('email').touched)">
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('email').errors.required">
                        <small class="text-12 px-2">{{'validation.email-required' | translate}}</small>
                      </div>
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('email').errors.pattern">
                        <small class="text-12 px-2">{{'validation.email-invalid' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Age -->
              <div class="col-12 col-sm-6 col-md-2 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.age' | translate}}</label>
                  <input type="number" class="form-control" min="14" max="100"
                    oninput="this.value = Math.round(this.value); this.value =
                  !!this.value && Math.abs(this.value) >= 0 && Math.abs(this.value) <= 100? Math.abs(this.value) : null" placeholder="{{'form.age' | translate}}"
                    formControlName="age" [ngClass]="{'is-invalid': submitted && form.age.errors}"
                    [ngClass]="{'is-valid': !form.age.errors}">
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="signUpForm.get('age').invalid && (signUpForm.get('age').dirty
                    || signUpForm.get('age').touched)">
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('age').errors.required">
                        <small class="text-12 px-2">{{'validation.age-required' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('age').errors.min">
                        <small class="text-12 px-2">{{'validation.age-min' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('age').errors.max">
                        <small class="text-12 px-2">{{'validation.age-max' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- *//General information Row* -->
            <!-- *Extra information - Location - Preferences Row* -->
            <div class="row py-1">
              <!-- Phone -->
              <div class="col-12 col-sm-6 col-md-3 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.phone' | translate}}</label>
                  <!-- TODO: Support internation phone numbers in future versions -->
                  <input type="text" class="form-control" placeholder="{{'form.phone-mask' | translate}}"
                    mask="0000 000 000" maxlength="16" formControlName="phone">
                  <!-- TODO: Add the following attributes after formControlName when you want to restore validation
                      [ngClass]="{'is-invalid': submitted && form.phone.errors}"
                      [ngClass]="{'is-valid': !form.phone.errors}"
                    -->
                </div>
                <!-- TODO: Uncomment tag below to restore phone validation -->
                <!-- <div class="row">
                  <div class="col">
                    <div *ngIf="signUpForm.get('phone').invalid && (signUpForm.get('phone').dirty
                    || signUpForm.get('phone').touched)">
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('phone').errors.required">
                        <small class="text-12 px-2">{{'validation.phone-required' | translate}}</small>
                      </div>
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('phone').errors.pattern">
                        <small class="text-12 px-2">{{'validation.phone-invalid' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <!-- Profession -->
              <div class="col-12 col-sm-6 col-md-3 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.profession' | translate}}</label>
                  <input type="text" class="form-control" placeholder="{{'form.profession' | translate}}" #profession
                    formControlName="profession">
                </div>
              </div>
              <!-- Country -->
              <div class="col-12 flex-end px-1" [ngClass]="countryIsSelected?'col-sm-6 col-md-3':'col-sm-12 col-md-6'">
                <div ngbDropdown class="dropdown" placement="bottom-left">
                  <button type="button" class="btn btn-primary dropdown-toggle w-100 btn-border-radius"
                    ngbDropdownToggle>{{countriesButtonContent | translate}}</button>
                  <div ngbDropdownMenu>
                    <a *ngFor="let country of countries" class="dropdown-item"
                      (click)="chooseCountry(country)">{{country.name}}</a>
                  </div>
                </div>
              </div>
              <!-- City -->
              <div class="col-12 col-sm-6 col-md-3 flex-end px-1" *ngIf="countryIsSelected">
                <div ngbDropdown class="dropdown" placement="bottom-left">
                  <button type="button" class="btn btn-primary dropdown-toggle w-100 btn-border-radius"
                    ngbDropdownToggle>{{citiesButtonContent | translate}}</button>
                  <div ngbDropdownMenu>
                    <a *ngFor="let city of cities" class="dropdown-item" (click)="chooseCity(city)">{{city.name}}</a>
                  </div>
                </div>
              </div>
              <div class="row w-100">
                <div class="col text-center">
                  <div class="text-danger pb-2" *ngIf="showLocationError">
                    <small class="text-12 px-2">{{'validation.country-city-required' | translate}}</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- *//Extra information - Location - Preferences Row* -->
            <!-- *Credentials Row* -->
            <div class="row py-1">
              <!-- Username -->
              <div class="col-12 col-sm-6 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.username' | translate}}</label>
                  <input type="text" class="form-control" placeholder="{{'form.username-mask' | translate}}"
                    formControlName="username">
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="signUpForm.get('username').invalid && (signUpForm.get('username').dirty
                    || signUpForm.get('username').touched)">
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('username').errors.minlength">
                        <small class="text-12 px-2">{{'validation.username-min-length' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('username').errors.maxlength">
                        <small class="text-12 px-2">{{'validation.username-max-length' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Password -->
              <div class="col-12 col-sm-6 px-1">
                <div class="form-group">
                  <label class="px-2">{{'form.password' | translate}}</label>
                  <input type="password" class="form-control" placeholder="{{'form.password-mask' | translate}}"
                    formControlName="password" [ngClass]="{'is-invalid': submitted && form.password.errors}"
                    [ngClass]="{'is-valid': !form.password.errors}">
                </div>
                <div class="row">
                  <div class="col">
                    <div *ngIf="signUpForm.get('password').invalid && (signUpForm.get('password').dirty
                    || signUpForm.get('password').touched)">
                      <div class="text-danger pb-2" *ngIf="signUpForm.get('password').errors.required">
                        <small class="text-12 px-2">{{'validation.password-required' | translate}}</small>
                      </div>
                      <div class="text-danger text-center pb-2" *ngIf="signUpForm.get('password').errors.pattern">
                        <small class="text-12">{{'validation.password-pattern' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- *//Credentials Row* -->
            <!-- *Categories Row* -->
            <div class="row py-1">
              <div class="col-12 px-1">
                <label class="px-2">{{'form.categories' | translate}}</label>
                <tag-input [onlyFromAutocomplete]="true" formControlName="categories"
                  placeholder="{{'form.category-description' | translate}}"
                  secondaryPlaceholder="{{'form.add-category' | translate}}">
                  <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="categories" [identifyBy]="'id'"
                    [displayBy]="'name'">
                  </tag-input-dropdown>
                </tag-input>
                <div class="row py-2">
                  <div class="col px-2">
                    <div *ngIf="signUpForm.get('categories').invalid && (signUpForm.get('categories').dirty
                  || signUpForm.get('categories').touched) || submitted">
                      <div class="text-danger pb-2"
                        *ngIf="signUpForm.get('categories').errors && signUpForm.get('categories').errors.required">
                        <small class="text-12 px-2">{{'validation.category-required' | translate}}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- *//Categories Row* -->
            <!-- *About me row* -->
            <div class="row py-1">
              <div class="col-md-12 px-3">
                <div class="form-group">
                  <label>{{'form.about-me' | translate}}</label>
                  <textarea rows="2" cols="80" class="form-control p-0"
                    placeholder="{{'form.about-me-mask' | translate}}" formControlName="bio"></textarea>
                </div>
              </div>
            </div>
            <!-- *//About me row* -->
            <div class="row py-1">
              <div class="col-12 col-md-10">
                <label class="px-2">{{'sign-up.invitation-option' | translate}}</label>
              </div>
              <div class="col-2">
                <bSwitch [switch-on-color]="" formControlName="invitationOption"></bSwitch>
              </div>
            </div>
            <!-- !Hidden Submit button -->
            <button class="d-none" type="submit" #submit></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <i *ngIf="!image" class="fas fa-user fa-6x pt-15 avatar border-gray"></i>
            <img *ngIf="image" class="avatar border-gray cover-image" [src]="image">
            <div>
              <div style="height:0px;overflow:hidden">
                <input type="file" #photoInput accept="image/*" (change)="processFile($event)" />
              </div>
              <button class="btn btn-primary" (click)="photoInput.click()">{{'form.upload-image' | translate}}</button>
            </div>
            <h5 class="title pt-3">{{firstName}} {{lastName}}</h5>
            <p>{{username}}</p>
            <p class="description" [hidden]="!bio">"{{bio}}"</p>
          </div>
        </div>
      </div>

      <div class="card text-center m-0">
        <div class="card-header">
          <div class="row">
            <div class="col-12 align-self-center">
              <ul class="nav nav-tabs justify-content-center p-0">
                <li class="nav-item">
                  <a routerLink="/login" class="btn nav-link p-2 m-0">{{'form.login-instead' | translate}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body my-n3">
          <p class="card-text pt-2">{{'form.agree' | translate}}</p>
          <app-modal></app-modal>
          <div>
            <a class="btn btn-primary" (click)="submit.click()">{{'button.sign-up' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
