.bg-login {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/login.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: -webkit-fill-available;
  min-height: -moz-fill-available;
  min-height: -o-fill-available;
  min-height: -ms-fill-available;
}

.bg-sign-up {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/img/sign-up.jpg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: -webkit-fill-available;
  min-height: -moz-fill-available;
  min-height: -o-fill-available;
  min-height: -ms-fill-available;
}

.bg-collaboration {
  background-image: url("../../assets/img/collaboration.jpg");
}

.bg-jigsaw {
  background-image: url("../../assets/img/jigsaw.jpg");
}

.bg-discuss {
  background-image: url("../../assets/img/discuss.jpg");
}

.bg-header {
  background-image: url("../../assets/img/header.jpg");
}
