/* Scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #35adc4, #7952de);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
}

/* Selection */
::selection {
  background: #ffddd2; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffddd2; /* Gecko Browsers */
}
