$mat-enhance-primary: (
  50: #fad6ca,
  100: #f5a88e,
  200: #e2896c,
  300: #ff7e52,
  400: #ff8332,
  500: #f96332,
  600: #e65e31,
  700: #f3541f,
  800: #fa4d13,
  900: #c53707,
  A100: #f5a88e,
  A200: #ff7e52,
  A400: #e65e31,
  A700: #fa4d13,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
